[submodule "crypto_lib"]
	path = crypto_lib
	url = https://github.com/KeyboxWallet/crypto_lib.git
[submodule "protodef"]
	path = protodef
	url = https://github.com/KeyboxWallet/protodef.git
[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "libpsbt_for_signer"]
	path = libpsbt_for_signer
	url = https://github.com/KeyboxWallet/libpsbt_for_signer.git
[submodule "base64"]
	path = base64
	url = https://github.com/joedf/base64.c.git
